body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #283618;
  color: #FFFFFF;
}

.socials{
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.logo{
  position: absolute;
  right: 50px;
  bottom: 50px;
}